.about {
    margin: 7.5rem 0;
    &__content {

    }
    &__title {
        margin-bottom: 1.25rem;
        font-size: 1.0625rem;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 1.4875rem */
    }
    &__main {
        margin-bottom: 1.25rem;
        font-size: 4.75rem;
    }
    &__info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        font-size: 1.0625rem;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        p {

        }
    }
    &__btn {
        margin-top: 1.5rem;
    }
}

@media (max-width: 768px) {
    .about {
        margin: 3.5rem 0;
        &__title {
            margin-bottom: 0.5rem;
            font-size: 0.875rem;
        }
        &__main {
            margin-bottom: 1rem;
            font-size: 2.125rem;
        }
        &__info {
            grid-template-columns: 1fr;
            gap: 0.5rem;
            font-size: 0.875rem;
        }
        &__btn {
            margin-top: 1.5rem;
            width: 100%;
        }
    }
}