.carreers {
    margin: 7.5rem 0;
    &__title {
        margin-bottom: 1.75rem;
    }
    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1.25rem;
    }   
    &__card {
        position: relative;
        width: 100%;
        aspect-ratio: 1.321 / 1;
        border-radius: 0.75rem;
        overflow: hidden;
        &-back {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            user-select: none;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top left;
            }
        }
        &-hover {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: 0.3s;
            + img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top left;
            }
        }
        &-main {
            position: relative;
            display: flex;
            flex-direction: column;
            height: 100%;
            z-index: 2;
        }
        &-num {
            margin-top: -1px;
            margin-left: -1px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30%;
            aspect-ratio: 1/1;
            color: var(--Brand-800);
            font-family: var(--font-Cuprum);
            font-size: 3.125rem;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            transition: 0.3s;
        }
        &-title {
            position: absolute;
            top: 0.75rem;
            right: 0.75rem;
            width: 57%;
            font-size: 1.0625rem;
            font-style: normal;
            font-weight: 600;
            line-height: 130%;
            transition: 0.3s;
        }
        &-text {
            padding: 1.75rem 0.75rem 0.75rem;
            display: grid;
            gap: 0.75rem;
            p {
                color:  var(--Base-Dark-Opacity);
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
            }
        }
        &-dwnld {
            padding: 0.75rem 1.25rem; 
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0.5rem;
            font-size: 0.875rem;
            font-weight: 500;
            color: var(--Base-White);
            background: var(--Neutral-300);
            border-radius: 0.5rem;
            transition: 0.3s;
            &:hover {
                background: var(--Neutral-400);
            }
            &:before,
            &:after {
                content: '';
                display: block;
                width: 1rem;
                height: 1rem;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
            &:before {  
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_455_1954)'%3e%3cpath d='M2.28613 12.3868L8.68613 4.57251L16.0004 9.65037V14.8606C16.0004 15.7445 15.284 16.4609 14.4004 16.4609H5.02885C3.51412 16.4609 2.28613 15.2326 2.28613 13.7175V12.3868Z' fill='url(%23paint0_radial_455_1954)'/%3e%3cpath d='M2.28613 6.87639C2.28613 5.73993 3.20729 4.81878 4.34342 4.81878H13.6639L16.0004 3.65796V9.37351C16.0004 10.2575 15.284 10.9738 14.4004 10.9738H5.02885C3.51412 10.9738 2.28613 12.2022 2.28613 13.7172V6.87607V6.87639Z' fill='url(%23paint1_linear_455_1954)'/%3e%3cpath d='M2.28613 6.87639C2.28613 5.73993 3.20729 4.81878 4.34342 4.81878H13.6639L16.0004 3.65796V9.37351C16.0004 10.2575 15.284 10.9738 14.4004 10.9738H5.02885C3.51412 10.9738 2.28613 12.2022 2.28613 13.7172V6.87607V6.87639Z' fill='url(%23paint2_radial_455_1954)' fill-opacity='0.6'/%3e%3cpath d='M2.28613 6.87639C2.28613 5.73993 3.20729 4.81878 4.34342 4.81878H13.6639L16.0004 3.65796V9.37351C16.0004 10.2575 15.284 10.9738 14.4004 10.9738H5.02885C3.51412 10.9738 2.28613 12.2022 2.28613 13.7172V6.87607V6.87639Z' fill='url(%23paint3_radial_455_1954)' fill-opacity='0.1'/%3e%3cpath d='M2.28613 2.74337C2.28613 1.22831 3.51412 0 5.02885 0H14.4004C15.284 0 16.0004 0.716379 16.0004 1.60033V3.88642C16.0004 4.77037 15.284 5.48675 14.4004 5.48675H5.02885C3.51412 5.48675 2.28613 6.71506 2.28613 8.23012V2.74337Z' fill='url(%23paint4_linear_455_1954)'/%3e%3cpath d='M2.28613 2.74337C2.28613 1.22831 3.51412 0 5.02885 0H14.4004C15.284 0 16.0004 0.716379 16.0004 1.60033V3.88642C16.0004 4.77037 15.284 5.48675 14.4004 5.48675H5.02885C3.51412 5.48675 2.28613 6.71506 2.28613 8.23012V2.74337Z' fill='url(%23paint5_radial_455_1954)' fill-opacity='0.8'/%3e%3cpath d='M5.82848 7.77319H1.48576C0.665198 7.77319 0 8.43839 0 9.25895V13.6033C0 14.4239 0.665198 15.0891 1.48576 15.0891H5.82848C6.64904 15.0891 7.31424 14.4239 7.31424 13.6033V9.25895C7.31424 8.43839 6.64904 7.77319 5.82848 7.77319Z' fill='url(%23paint6_radial_455_1954)'/%3e%3cpath d='M5.82848 7.77319H1.48576C0.665198 7.77319 0 8.43839 0 9.25895V13.6033C0 14.4239 0.665198 15.0891 1.48576 15.0891H5.82848C6.64904 15.0891 7.31424 14.4239 7.31424 13.6033V9.25895C7.31424 8.43839 6.64904 7.77319 5.82848 7.77319Z' fill='url(%23paint7_radial_455_1954)' fill-opacity='0.65'/%3e%3cpath d='M6.16505 9.34082L5.26497 13.5209L4.18876 13.5216L3.6574 11.0132L3.10102 13.5216H2.0146L1.14941 9.34148H2.03666L2.57032 12.1L3.10069 9.34148H4.18843L4.74382 12.1L5.26464 9.34148L6.16472 9.34082H6.16505Z' fill='white'/%3e%3c/g%3e%3cdefs%3e%3cradialGradient id='paint0_radial_455_1954' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(15.6586 16.4441) scale(21.7484 9.21427)'%3e%3cstop offset='0.18' stop-color='%231657F4'/%3e%3cstop offset='0.57' stop-color='%230036C4'/%3e%3c/radialGradient%3e%3clinearGradient id='paint1_linear_455_1954' x1='2.28613' y1='8.68775' x2='12.7888' y2='8.68775' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%2366C0FF'/%3e%3cstop offset='0.26' stop-color='%230094F0'/%3e%3c/linearGradient%3e%3cradialGradient id='paint2_radial_455_1954' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(16.2582 3.70403) rotate(133.54) scale(13.4259 33.0662)'%3e%3cstop offset='0.14' stop-color='%23D471FF'/%3e%3cstop offset='0.83' stop-color='%23509DF5' stop-opacity='0'/%3e%3c/radialGradient%3e%3cradialGradient id='paint3_radial_455_1954' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(13.8912 10.5208) rotate(90) scale(8.51463 46.4692)'%3e%3cstop offset='0.28' stop-color='%234F006F' stop-opacity='0'/%3e%3cstop offset='1' stop-color='%234F006F'/%3e%3c/radialGradient%3e%3clinearGradient id='paint4_linear_455_1954' x1='2.28778' y1='4.01514' x2='15.9984' y2='4.24165' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%239DEAFF'/%3e%3cstop offset='0.2' stop-color='%233BD5FF'/%3e%3c/linearGradient%3e%3cradialGradient id='paint5_radial_455_1954' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(16.2663 0.103685) rotate(166.85) scale(13.4853 32.3025)'%3e%3cstop offset='0.06' stop-color='%23E4A7FE'/%3e%3cstop offset='0.54' stop-color='%23E4A7FE' stop-opacity='0'/%3e%3c/radialGradient%3e%3cradialGradient id='paint6_radial_455_1954' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(0.128835 8.03711) rotate(45.01) scale(10.3438)'%3e%3cstop offset='0.08' stop-color='%23367AF2'/%3e%3cstop offset='0.87' stop-color='%23001A8F'/%3e%3c/radialGradient%3e%3cradialGradient id='paint7_radial_455_1954' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(3.59651 12.1632) rotate(90) scale(5.12158 5.83494)'%3e%3cstop offset='0.59' stop-color='%232763E5' stop-opacity='0'/%3e%3cstop offset='0.97' stop-color='%2358AAFE'/%3e%3c/radialGradient%3e%3cclipPath id='clip0_455_1954'%3e%3crect width='16' height='16.4609' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
            }
            &:after {
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8 10V2M8 10L4.66667 6.66667M8 10L11.3333 6.66667M14 10V12.6667C14 13.0203 13.8595 13.3594 13.6095 13.6095C13.3594 13.8595 13.0203 14 12.6667 14H3.33333C2.97971 14 2.64057 13.8595 2.39052 13.6095C2.14048 13.3594 2 13.0203 2 12.6667V10' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
            }
        }
    }
}
@media (max-width: 767px)  {
    .carreers {
        margin: 5rem 0;
        &__title {
            margin-bottom: 1.5rem;
        }
        &__content {
            grid-template-columns: 1fr;
        }   
        &__card {
            aspect-ratio: unset;
            height: fit-content;
            &-back,
            &-hover {
                display: none;
            }
            &-main {
                padding: 0.5rem;
                flex-direction: row;
                align-items: center;
                flex-wrap: wrap;
                justify-content: flex-start;
                gap: 1rem;
                border-radius: 0.75rem;
                border: 1px solid var(--Neutral-100);
                background: #FFF;
            }
            &-num {
                margin: 0;
                width: 3rem;
                font-size: 2rem;
                background: #FFF;
            }
            &-title  {
                position: static;
                width: calc(100% - 4rem);
                font-size: 1rem;
                br {
                    display: none;
                }
            }
            &-text {
                padding: 0;
                width: 100%;
                p {
                    font-size: 0.875rem;
                }
            }
            &-dwnld {
                justify-content: center;
            }
        }
    }
}