.cta {  
    margin: 7.5rem 0;
    &__content {
        position: relative;
        padding: 0.5rem;
        border-radius: 0.75rem;
        border: 1px solid var(--Neutral-200);
        background: #FFF;
    }
    &__info {
        padding: 2rem;
        width: calc((100% - 0.5rem - 0.25rem) / 2);
        border-radius: 0.5rem;
        background: radial-gradient(50% 50% at 50% 50%, #412BA8 0%, #22194D 100%);
    }
    &__title {
        color: var(--Base-White);
    }
    &__descr {  
        margin-top: 1rem;
        color: var(--Base-White);
        font-size: 1.0625rem;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
    }
    &__form {
        margin-top: 1.5rem;
        display: flex;
        align-items: center;
        gap: 0.25rem;
    }
    &__decor {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        width: calc((100% - 0.5rem - 0.25rem) / 2);
        height: calc(100% - 1rem);
        border-radius: 0.5rem;
        overflow: hidden;
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.form {
    width: 100%;
    &__input {
        padding: 0.625rem 1.25rem;
        display: block;
        width: 42%;
        height: 2.25rem;
        color: var(--Base-White);
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; 
        background: transparent;
        border-radius: 0.5rem;
        border: 1px solid rgba(255, 255, 255, 0.40);
        outline: none;
        transition: 0.3s;
        cursor: pointer;
        &::placeholder {
            color: var(--Base-White);
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: 140%; 
            opacity: 0.8;
        }
        &:hover,
        &:focus{
            border-color: var(--Brand-200);
        }
    }
    &__btn {    
        margin-left: 0.25rem;
        height: 2.25rem;
        padding: 0.625rem 1.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        color: var(--Base-Dark);
        border-radius: 0.5rem;
        background: #FFF;
        cursor: pointer;
        transition: 0.3s;
        &:before {
            content: '';
            width: 1.5rem;
            height: 1.5rem;
            background-color: currentColor;
            mask-position: center;
            mask-repeat: no-repeat;
            mask-size: contain;
            mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3e%3cpath d='M22.0003 12C22.0003 12.0948 21.9734 12.1875 21.9227 12.2675C21.872 12.3476 21.7996 12.4115 21.714 12.452L3.71402 20.952C3.62412 20.9956 3.52318 21.0112 3.42434 20.9966C3.32549 20.9821 3.2333 20.9381 3.15974 20.8705C3.08619 20.8029 3.03468 20.7147 3.0119 20.6174C2.98913 20.5202 2.99614 20.4183 3.03202 20.325L5.87402 12.698C6.0417 12.2478 6.0417 11.7523 5.87402 11.302L3.03102 3.67504C2.99495 3.58168 2.98785 3.47962 3.01064 3.38216C3.03343 3.28471 3.08505 3.19638 3.15878 3.1287C3.23251 3.06102 3.32492 3.01712 3.42396 3.00273C3.523 2.98834 3.62409 3.00413 3.71402 3.04804L21.714 11.548C21.7996 11.5885 21.872 11.6525 21.9227 11.7325C21.9734 11.8126 22.0003 11.9053 22.0003 12ZM22.0003 12H6.00002' stroke='%23222222' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
        }
        &:hover {
            color: var(--Brand-800);
            background: var(--Brand-200);
        }
    }
}
                   
@media (max-width: 767px) {
    .cta {  
        margin: 5rem 0;
        &__content {
            display: grid;
            gap: 0.5rem;
        }
        &__info {
            padding: 1rem;
            width: 100%;
        }
        &__title {
            color: var(--Base-White);
            width: 90%;
        }
        &__descr {  
            margin-top: 0.75rem;
            font-size: 0.875rem;
        }
        &__form {
            flex-direction: column;
            align-items: flex-start;
            gap: 0.5rem;
        }
        &__decor {
            position: static;
            width: 100%;
            height: 5rem;
        }
    }
    .form {
        width: 100%;
        &__input {
            padding: 0.625rem 1.25rem;
            width: 100%;
            height: 2.5rem;
            font-size: 16px;
            cursor: pointer;
            &::placeholder {
                font-size: 16px;
            }
        }
        &__btn {    
            margin-left: 0;
            height: 2.5rem;
            width: 100%;
        }
    }
    
}