.geography {
    margin: 7.5rem 0;
    &__content {
        position: relative;
        padding: 2.5rem;
        border-radius: 0.75rem;
        background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, #DFE2FF 100%), var(--Neutral-100, #E9EFF5);
    }
    &__title {
        margin-bottom: 1.75rem;
    }
    &__img {
        position: absolute;
        top: 50%;
        right: 2.5rem;
        width: 47%;
        transform: translate(0, -50%);
        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
    &__items {
        width: 40%;
    }
    &__item {
        padding: 0.5rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        &:not(:last-child) {
            border-bottom: 1px solid var(--Brand-200);
        }
        &-country {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            &-flag {
                width: 1.5rem;
                height: 1.5rem;
                aspect-ratio: 1/1;
                overflow: hidden;
                border-radius: 0.25rem;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &-name {
                font-size: 1.0625rem;
                font-style: normal;
                font-weight: 600;
                line-height: 150%; 
            }
        }
        &-descr {
            width: 60%;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: 140%; 
            opacity: 0.8;
        }
    }
}

@media (max-width: 767px) {
    .geography {
        margin: 5rem 0;
        &__content {
            padding: 1.5rem;
        }
        &__title {
            margin-bottom: 1.5rem;
        }
        &__img {
            position: static;
            top: unset;
            right: unset;
            width: 100%;
            height: auto;
            transform: unset;
            img {
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }
        &__items {
            width: 100%;
        }
        &__item {
            padding: 1rem 0;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.5rem;
            &-descr {
                width: 100%;
            }
        }
    }
}