:root {
  --Base-White: #FFF;
  --Base-Dark: #222;
  --Base-Dark-Opacity: rgba(34, 34, 34, 0.8);

  --Brand-50: #EDF0FF;
  --Brand-200: #C5CAFF;
  --Brand-300:  #A1A7FF;
  --Brand-800: #412BA8;
  --Brand-900: #362980;
  --Brand-950: #22194D;

  --Neutral-50: #F8FAFC;
  --Neutral-100: #E9EFF5;
  --Neutral-200: #CEDDE9;
  --Neutral-300: #A3C1D6;
  --Neutral-400: #729FBE;
  --Neutral-500: #5083A7;
  --font-Cuprum: 'Cuprum';
}



.no-scroll {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.btn {
  padding: 0.625rem 1.25rem;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 0.5rem;
  transition:  0.3s;
  cursor: pointer;
}

.btn-purple {
  color: var(--Base-White);
  background: var(--Brand-900);
  &:hover {
     background: var(--Brand-800);
  }
}

.btn-gray {
  background: var(--Neutral-100);
  &:hover {
    background: var(--Brand-200);
  }
}

.btn-white {
  color: var(--Base-Dark);
  background: var(--Base-White);
  &:hover {
    background: var(--Brand-200);
  }
}

.lang {
  position: relative;
  &__head {
    padding: 0.625rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--Base-Dark);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 0.5rem;
    background: var(--Neutral-100);
    cursor: pointer;

    &:after {
      content: '';
      display: block;
      width: 1rem;
      height: 1rem;
      aspect-ratio: 1/1;
      transition: 0.3s;
      background-color: currentColor;
      mask-position: center;
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3e%3cpath d='M4 6L8 10L12 6' stroke='%23222222' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
    }
    &.is-active {
      &:after {
        transform: scale(1, -1);
      }
    }
    &-content {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }
    &-flag {
      width: 1rem;
      height: 1rem;
      aspect-ratio: 1/1;
      border-radius: 0.125rem;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-name {

    }
  }
  &__body {
    display: none;
    width: 100%;
    position: absolute;
    padding: 0.25rem;
    top: calc(100% + 0.25rem);
    border-radius: 0.5rem;
    background: var(--Neutral-100);
    z-index: 10;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    transition: 0.3s;
    &:hover {
      background: var(--Neutral-200);
    }
      &-flag {
        width: 1rem;
        height: 1rem;
        aspect-ratio: 1/1;
        border-radius: 0.125rem;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &-name {
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      }
  }
}

.title {
  color: var(--Base-Dark);
  font-family: var(--font-Cuprum);
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  span {
    color: var(--Brand-800);
  }
  .span-light {
    color: var(--Brand-200, #C5CAFF);
  }
}

.title-small {
  color: var(--Base-Dark);
  font-family: var(--font-Cuprum);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.card-tag {
  width: fit-content;
  padding: 0.3125rem 1rem 0.375rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background: rgba(233, 239, 245, 0.70);
  span {
    color: var(--Neutral-500);
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.6;
  }
}

.swiper-arrows {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  pointer-events: none;
  &__item {
    width: 2.25rem;
    height:  2.25rem;
    aspect-ratio: 1/1;
    border-radius: 0.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    transition: 0.1s;
    pointer-events: all;
    &.prev {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='36' height='36' rx='8' transform='matrix(-1 0 0 1 36 0)' fill='%23E9EFF5'/%3e%3cpath d='M21 24L15 18L21 12' stroke='%23222222' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");    }
    &.next {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='36' height='36' rx='8' fill='%23E9EFF5'/%3e%3cpath d='M15 24L21 18L15 12' stroke='%23222222' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");    }
    &:hover {
      border-radius: 0.75rem;
    }
    &.swiper-button-disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

}

img.lozad {
  background: var(--Neutral-100);
  opacity: 0;
  transition: opacity 0.5s;
}
img.loaded {
  opacity: 1;
  background: none;
}

.breadcrumbs {
  margin: 1.25rem 0 2.5rem;
  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
  }
	&__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--Neutral-400);
    transition: 0.3s;
    &:after {
      content: '/';
      color: currentColor;
      transition: 0.3s;
    }
    &:hover {
      color: var(--Neutral-500);
    }
  }
	&__text {

  }
}

.tick-list {
  li {
    position: relative;
    padding-left: 2rem;
    &:before {
      content: '';
      position: absolute;
      top: 0.125rem;
      left: 0;
      width: 1.5rem;
      height: 1.5rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M20 6L9 17L4 12' stroke='%23412BA8' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
    }
  }
}

@media (max-width: 768px)  {
  .title,
  .title-small {
    font-size: 2.375rem;
  }

  .lang {
    &__head {
      font-size: 0.875rem;
    }
    &__item {
        &-name {
          font-size: 0.875rem;
        }
    }
  }

  .card-tag {
    padding: 0.255rem 0.75rem;
    span {
      font-size: 0.65rem;
    }
  }

  .breadcrumbs {
    margin: 1rem 0 1.75rem;
  }
}