.hero {
    margin-top: 0.5rem;
    &__top {
        position: relative;
        padding: 3.375rem 2.75rem 4.5rem;
        border-radius: 0.75rem;
        background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, #DFE2FF 100%);
        overflow: hidden;
        &-decor {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            pointer-events: none;
            z-index: 1;
            img {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                
                &:first-child {
                    left: 0;
                    width: fit-content;
                }
                &:last-child {
                    right: 0;
                }
            }
            &:before,
            &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    height: 100%;
                    z-index: 2;
                    background: linear-gradient(90deg, rgba(224, 227, 255, 0.00) 0%, #E0E3FF 100%);
                    opacity: 0.9;
            }
            &::before {
                left: 0;
                width: 10.1875rem;
                transform: rotate(180deg);
            }
            &:after {
                right: 0;
                width: 13.125rem;
            }
        }
    }
    &__title {
        margin-bottom: 0.5rem;
        position: relative;
        font-size: 4rem;
        z-index: 3;
    }   
    &__descr {
        position: relative;
        z-index: 3;
        color: var(--Base-Dark);
        font-size: 1.0625rem;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
    }
    &__cards {
        margin: 0.5rem 0 0;
        &-item  {
            padding: 1rem; 
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0.5rem;
            border-radius: 0.75rem;
            border: 1px solid var(--Neutral-100);
            background: var(--Base-White);
            &-content {
                display: flex;
                align-items: center;
                gap: 0.75rem;
            }
            &-value {
                color: var(--Brand-800);
                font-family: var(--font-Cuprum);
                font-size: 2.25rem;
                font-style: normal;
                font-weight: 400;
                line-height: 100%; 
            }
            &-text {
                color: var(--Base-Dark);
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                opacity: 0.8;
            }
            &-tag {
            }
        }
    }
    &__btn {
        position: relative;
        z-index: 3;
        width: fit-content;
        min-width: 12.5rem;
        margin-top: 1.31rem;
    }
}
            
@media (max-width: 767px) {
    .hero {
        overflow: hidden;
        &__top {
            padding: 1rem;
            &-decor {
                &::before {
                    width: 50%;
                }
                &:after {
                    width: 50%;
                }
            }
        }
        &__title {
            font-size: 2.25rem;
        }   
        &__descr {
            font-size: 0.875rem;
        }
        &__cards {
            overflow: visible;
            &-item  {
                flex-direction: column-reverse;
                align-items: flex-start;
                &-value {
                    font-size: 2rem;
                }
            }
        }
        &__btn {
            min-width: unset;
            margin-top: 1rem;
            width: 100%;
        }
    }
        
}