.map {
    margin: 2.5rem 0 7.5rem 0;
    &__title {
        margin-bottom: 1.25rem;
        font-family: var(--font-Cuprum);
        font-size: 4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; 
    }
    &__content {
        display: flex;
        position: relative;
        padding: 0.75rem;
        width: 100%;
        min-height: 25rem;
        border-radius: 0.5rem;
        overflow: hidden;
        #map {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
    }
    &__info {
        position: relative;
        z-index: 3;
        width: 35%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        border-radius: 0.5rem;
        background: #FFF;
        &-title {
            margin-bottom: 0.75rem;
            font-family: var(--font-Cuprum);
            font-size: 2.25rem;
            font-style: normal;
            font-weight: 400;
            line-height: 90%;
        }
        &-items {
            margin-bottom: 0.75rem;
            display: grid;
            gap: 0.25rem;
        }
        &-item {
            padding: 0.75rem 1rem;
            border-radius: 0.5rem;
            background: #F1F5F8;
            &-title {
                margin-bottom: 0.25rem;
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                opacity: 0.4;
            }
            &-value {
                font-size: 1.0625rem;
                font-style: normal;
                font-weight: 500;
                line-height: 129%;
            }
        }   
        &-btn {
            margin-top: auto;
            width: 100%;
        }
    }
}
        
@media (max-width: 767px) {
    .map {
        margin: 1.75rem 0 5rem 0;
        &__title {
            font-size: 3rem;
        }
        &__content {
            min-height: 37.5rem;
        }
        &__info {
            margin-top: auto;
            width: 100%;
            height: 70%;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            border-radius: 0.5rem;
            background: #FFF;
            &-title {
                font-size: 2.375rem;
            } 
        }
    }
}