.offers {
    margin: 7.5rem 0;
    &__title {
        margin-bottom: 1.75rem;
    }
    &__content {
        
    }   
    &__item {
        position: relative;
        aspect-ratio: 1.416 / 1;
        border-radius: 0.75rem;
        overflow: hidden;
        &-back {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            user-select: none;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top left;
            }
        }
        &-hover {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: 0.3s;
            + img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top left;
            }
        }
        &-main {
            position: relative;
            display: flex;
            flex-direction: column;
            height: 100%;
            z-index: 2;
        }
        &-num {
            margin-top: -1px;
            margin-left: -1px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30%;
            aspect-ratio: 1/1;
            color: var(--Brand-800);
            font-family: var(--font-Cuprum);
            font-size: 3.125rem;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            transition: 0.3s;
        }
        &-title {
            position: absolute;
            top: 0.75rem;
            right: 0.75rem;
            width: 57%;
            font-size: 1.0625rem;
            font-style: normal;
            font-weight: 600;
            line-height: 130%;
            transition: 0.3s;
        }
        &-text {
            padding: 1.25rem 0.75rem 0.75rem;
            display: grid;
            gap: 0.25rem;
            p {
                color:  var(--Base-Dark-Opacity);
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
            }
        }
    }
}
@media (min-width: 769px)  {
    .offers {
        &__item  {
            &:hover {
                .offers__item-hover {
                    opacity: 1;
                }
            }
            &.dark:hover {
                .stages__card-text {
                    color: var(--Base-White);
                }
                .offers__item-num,
                .offers__item-title {
                    color: #fff;
                }
                .offers__item-text p {
                    color: #fff;
                }
            }
        }
    }
}
@media (max-width: 767px)  {
    .offers {
        margin: 5rem 0;
        overflow: hidden;
        &__title {
            margin-bottom: 1.5rem;
        }
        &__swiper {
            overflow: visible;
        }
        &__item {
            &-text {
                padding-top: 2rem;
                p { 
                    font-size: 1rem;
                }
            }
        }
    }
}