.page-hero {
    margin: 1.5rem 0 7.5rem;
    &__content {

    }
    &__top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.25rem;
        &.w-60-40 {
            grid-template-columns: 1.1fr 1fr;
        }
        &-left {
            
        }
        &-text {
            font-size: 1.0625rem;
            line-height: 150%;
            font-weight: 500;
            &.w-70 {
                margin-left: auto;
                width: 66%;
            }
            &.w-80 {
                margin-left: auto;
                width: 82%;
            }
        }
    }
    &__title {
        margin-bottom: 1rem;
        font-family: var(--font-Cuprum);
        font-size: 4rem;
        line-height: 100%;
    }
    &__descr {
        font-family: var(--font-Cuprum);
        font-size: 2.25rem;
        line-height: 120%;
    }
    &__img {    
        margin-top: 1.81rem;
        height: 16.25rem;
        border-radius: 0.5rem;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__btn {
        margin-top: 1rem;
    }
    &__items {
        margin-top: 0.75rem;
        &-el  {
            padding: 0.75rem;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0.5rem;
            border-radius: 0.5rem;
            background: #FFF;
            &-title {
                font-size: 0.75rem;
                font-style: normal;
                font-weight: 500;
                line-height: 140%; 
            }
            &-arrow  {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 2rem;
                min-width: 2rem;
                height: 2rem;
                border-radius: 0.375rem;
                background: var(--Brand-50);
                &::before {
                    content: '';
                    display: block;
                    width: 1.38463rem;
                    height: 1.38463rem;
                    flex-shrink: 0;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23' fill='none'%3e%3cpath d='M6.46454 15.6923L15.6953 6.46155M15.6953 6.46155H6.46454M15.6953 6.46155V15.6923' stroke='%23412BA8' stroke-width='1.38462' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
                }
            }
        }
    }
}   

@media (min-width: 768px) {
    .page-hero__items {
        .swiper-wrapper {
            display: grid;
            gap: 0.5rem;
            &.col-6 {
                grid-template-columns: repeat(6, 1fr);
            }
            &.col-5 {
                grid-template-columns: repeat(5, 1fr);
            }
            &.col-4 {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}

@media (max-width: 767px) {
    .page-hero {
        margin: 1.5rem 0 5rem;
        overflow: hidden;
        &__content {

        }
        &__top,
        &__top.w-60-40  {
            grid-template-columns: 1fr;
            gap: 0.75rem;
            &-text {
                font-size: 1.0625rem;
                line-height: 150%;
                font-weight: 500;
                &.w-70,
                &.w-80 {
                    margin-left: unset;
                    width: 100%;
                }
            }
        }
        &__title {
            font-size: 3rem;
        }
        &__descr {
            font-size: 1.75rem;
        }
        &__img {    
            margin-top: 1rem;
            height: 12.5rem;
        }
        &__btn {
            width: 100%;
        }
        &__items {
            overflow: visible;
            &-el  {
                &-title {
                    font-size: 0.875rem;
                }
            }
        }
    } 
}