.page-hero {
    margin: 1.5rem 0 7.5rem;
    &__content {

    }
    &__top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 1.25rem;
        &.w-60-40 {
            grid-template-columns: 1.1fr 1fr;
        }
        &-left {
            
        }
        &-text {
            font-size: 1.0625rem;
            line-height: 150%;
            font-weight: 500;
            &.w-70 {
                margin-left: auto;
                width: 66%;
            }
            &.w-80 {
                margin-left: auto;
                width: 82%;
            }
        }
    }
    &__title {
        margin-bottom: 1rem;
        font-family: var(--font-Cuprum);
        font-size: 4rem;
        line-height: 100%;
    }
    &__descr {
        font-family: var(--font-Cuprum);
        font-size: 2.25rem;
        line-height: 120%;
    }
    &__img {    
        margin-top: 1.81rem;
        height: 16.25rem;
        border-radius: 0.5rem;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}   

@media (max-width: 767px) {
    .page-hero {
        margin: 1.5rem 0 5rem;
        &__content {

        }
        &__top,
        &__top.w-60-40  {
            grid-template-columns: 1fr;
            gap: 0.75rem;
            &-text {
                font-size: 1.0625rem;
                line-height: 150%;
                font-weight: 500;
                &.w-70,
                &.w-80 {
                    margin-left: unset;
                    width: 100%;
                }
            }
        }
        &__title {
            font-size: 3rem;
        }
        &__descr {
            font-size: 1.75rem;
        }
        &__img {    
            margin-top: 1rem;
            height: 12.5rem;
        }
    } 
}