.platform {
    margin: 7.5rem 0;
    &__content {
        position: relative;
        height: 42.1875rem;
        overflow: hidden;
        border-radius: 0.5rem;
        &-back {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            pointer-events: none;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &__title {
        position: absolute;
        width: 13.875rem;
        top: 39%;
        left: 39%;
        text-align: center;
        color: var(--Brand-800);
        z-index: 3;
    }
    &__list {
        &-item {
            width: 5.3125rem;
            position: absolute;
            color: var(--Base-Dark);
            text-align: center;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; 
            z-index: 3;
            &:nth-child(1) {
                top: 37%;
                left: 67%;
            }
            &:nth-child(2) {
                top: 81%;
                left: 53%;
            }
            &:nth-child(3) {
                top: 62%;
                left: 25%;
            }
            &:nth-child(4) {
                top: 37%;
                left: 25%;
            }
            &:nth-child(5) {
                top: 81%;
                left: 38%;
            }
            &:nth-child(6) {
                top: 61%;
                left: 64%;
                width: 8rem;
            }
            &:nth-child(7) {
                top: 14%;
                left: 35%;
                width: 9rem;
            }
            &:nth-child(8) {
                top: 14%;
                left: 52%;
                width: 10rem;
            }
        }
    }
}
  
@media (max-width: 767px) {
    .platform {
        margin: 5rem 0;
        overflow: hidden;
        &__content {
            padding: 2.5rem 1.25rem;
            height: fit-content;
            margin-left: -1rem;
            width: calc(100% + 2rem);
        }
        &__title {
            margin-bottom: 1.25rem;
            position: relative;
            width: 85%;
            top: unset;
            left: unset;
            text-align: left;
        }
        &__list {
            position: relative;
            z-index: 3;
            border-radius: 1.875rem;
            border: 3px solid #FFF;
            background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, #EDF0FF 100%);
            &-item {
                position: relative;
                padding: 1.25rem 1.5rem;
                font-size: 1.0625rem;
                br {
                    display: none;
                }
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6),
                &:nth-child(7),
                &:nth-child(8) {
                    width: 100%;
                    top: unset;
                    left: unset;
                }
                &:not(:last-child) {
                    border-bottom: 3px solid #FFF;
                }
            }
        }
    }
}