.pulse {
    margin: 7.5rem 0;
    &__title {
        margin-bottom: 0.75rem;
        color: var(--Base-Dark);
        font-size: 1.0625rem;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; 
    }
    &__content {

    }
    &__item {
        padding: 1.5rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid transparent;
        transition: 0.35s;
        &:not(:first-child) {
            border-top: 1px solid var(--Neutral-200);
        }
        &-left {
            display: flex;
            gap: 1rem;
            width: 41%;
            transition: 0.35s;
        }
        &-icon {
            margin-top: -0.25rem;
            align-self: flex-start;
            width: 3rem;
            height: 3rem;
            aspect-ratio: 1/1;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &-title {
            color: var(--Base-Dark);
            font-family: var(--font-Cuprum);
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
        }
        &-text {
            width: 50%;
            color: var(--Base-Dark);
            font-size: 1.0625rem;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
            transition: 0.3s;
        }
    }
}
@media (min-width: 769px) {
    .pulse {
        &__item  {
            &:hover {
                border-color: var(--Neutral-200);
                background: var(--Base-White);
                border-radius: 0.75rem;
                + .pulse__item {
                    border-top:  1px solid transparent;
                }
                .pulse__item-left{
                    transform: translate(1.5rem, 0);
                }   
                .pulse__item-text {
                    transform: translate(-1.5rem, 0);
                }
            }
        }
    }
}  
@media (max-width: 767px) {
    .pulse {
        margin: 5rem 0;
        &__title {
            margin-bottom: 0.5rem;
            font-size: 1.0625rem;
        }
        &__item {
            padding: 1rem 0;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
           
            &-left {
                width: 100%;
                align-items: center;
            }
            &-icon {
                margin-top: 0;
                width: 2.5rem;
                height: 2.5rem;
            }
            &-title {
                font-size: 1.75rem;
            }
            &-text {
                width: 100%;
                font-size: 1.0625rem;
            }
        }
    }
}