.purple-banner {
    margin: 7.5rem 0;
    &__content {
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        color: var(--Base-White);
        border-radius: 0.5rem;
        background: radial-gradient(50% 50% at 50% 50%, #412BA8 0%, #22194D 100%);
        &.--col {
            flex-direction: column;
            gap: 0.75rem;
        }
    }
    &__right {
        width: 30%;
        display: flex;
        flex-direction: column;
    }
    &__title {
        margin-bottom: 1rem;
        color: var(--Base-White);
    }
    &__btn {
        margin-top: auto;
    }
    &__left {
        width: 66%;
    }
    &__text {
        font-family: var(--font-Cuprum);
        font-size: 1.75rem;
        line-height: 120%;
        span {
            color: var(--Brand-300);
        }
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 0.75rem;
        &-item {
            display: flex;
            align-items: center;
            gap: 0.62rem;
            padding: 0.56rem 1.5rem;
            background: var(--Base-White);
            font-size: 1.0625rem;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            border-radius: 3.125rem;
            background: rgba(255, 255, 255, 0.20);
            &:before {
                content: '';
                display: block;
                width: 0.5rem;
                height: 0.5rem;
                aspect-ratio: 1/1;
                background: var(--Base-White);
                border-radius: 100%;
            }
        }
    }
}
@media (max-width: 767px) {
    .purple-banner {
        margin: 5rem 0;
        &.with-btn {
            .purple-banner__content {
                position: relative;
                padding: 3rem 1.5rem 7rem;
            }
        }
        &__content {
            padding: 3rem 1.5rem;
            flex-direction: column;
            gap: 1rem;
            &.--col  {
                gap: 1.25rem;
            }
        }
        &__right {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        &__title {
            margin-bottom: 0rem;
        }
        &__btn {
            position: absolute;
            left: 1.5rem;
            bottom: 3rem;
            width: calc(100% - 1.5rem * 2);
        }
        &__left {
            width: 100%;
        }
        &__text {
        }
        &__items {
            &-item {
                width: 100%;
                text-align: center;
                justify-content: center;
                &:before {
                    content: '';
                    display: block;
                    width: 0.5rem;
                    height: 0.5rem;
                    aspect-ratio: 1/1;
                    background: var(--Base-White);
                    border-radius: 100%;
                }
            }
        }
    }
}