.purple-banner {
    margin: 7.5rem 0;
    &.no-back {
        .purple-banner__content {
            padding: 0;
            background: transparent;
        }
        .purple-banner__title ,
        .purple-banner__small-text {
            color: var(--Base-Dark, #222);
        }
        .purple-banner__items-item {
            &:not(.is-dark) {
                color: var(--Base-Dark, #222);
                border: 1px solid var(--Brand-100, #DFE2FF);
                background: var(--Base-White, #FFF);
                &::before {
                    background: var(--Brand-800, #412BA8);
                }
            }
        }
    }
    &__content {
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        color: var(--Base-White);
        border-radius: 0.5rem;
        background: radial-gradient(50% 50% at 50% 50%, #412BA8 0%, #22194D 100%);
        &.--col {
            flex-direction: column;
            gap: 0.75rem;
            .purple-banner__title {
                margin-bottom: 0;
            }
        }
    }
    &__right {
        width: 30%;
        display: flex;
        flex-direction: column;
        &.w-45 {
            width: 45%;
        }
    }
    &__title {
        margin-bottom: 1rem;
        color: var(--Base-White);
    }
    &__btn {
        margin-top: auto;
    }
    &__left {
        width: 66%;
        &.w-55 {
            width: 55%;
        }
    }
    &__text {
        font-family: var(--font-Cuprum);
        font-size: 1.75rem;
        line-height: 120%;
        span {
            color: var(--Brand-300);
        }
    }
    &__small-text {
        font-size: 1.0625rem;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 1.4875rem */
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 0.75rem;
         &.text-small {
            .purple-banner__items-item {
                font-size: 0.875rem;
            }
        }
        &-item {
            display: flex;
            align-items: center;
            gap: 0.62rem;
            padding: 0.56rem 1.5rem;
            background: var(--Base-White);
            font-size: 1.0625rem;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            border-radius: 3.125rem;
            background: rgba(255, 255, 255, 0.20);
            &:before {
                content: '';
                display: block;
                width: 0.5rem;
                height: 0.5rem;
                aspect-ratio: 1/1;
                background: var(--Base-White);
                border-radius: 100%;
            }
            &.is-white {
                color: #222222b5;
                background: var(--Base-White, #FFF);
                &::before {
                    display: none;
                }
            }
            &.is-dark {
                color: #ffffffb5;
                background: var(--Brand-900, #362980);
                &::before {
                    display: none;
                }
            }
        }
        &.items-reverse {
            gap: 1rem 0;
            .purple-banner__items-item {
                flex: 1;
                justify-content: center;
                padding: 1rem;
                color: rgb(255 255 255 / 80%);
                font-size: 0.875rem;
                background: transparent;
                border-radius: 3.25rem;
                border: 1px solid var(--Neutral-300);
                &:not(:first-child) {
                    margin-left: -1rem;
                }
                &:before {
                    background:rgba(255, 255, 255, 0.20);
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .purple-banner {
        margin: 5rem 0;
        &.with-btn {
            .purple-banner__content {
                position: relative;
                padding: 3rem 1.5rem 7rem;
            }
        }
        &__content {
            padding: 3rem 1.5rem;
            flex-direction: column;
            gap: 1rem;
            &.--col  {
                gap: 1.25rem;
            }
        }
        &__right {
            width: 100%;
            display: flex;
            flex-direction: column;
            &.w-45 {
                width: 100%;
            }
        }
        &__title {
            margin-bottom: 0rem;
        }
        &__btn {
            position: absolute;
            left: 1.5rem;
            bottom: 3rem;
            width: calc(100% - 1.5rem * 2);
        }
        &__left {
            width: 100%;
            &.w-45,
            &.w-55 {
                width: 100%;
            }
        }
        &__text {
            font-size: 1.25rem;
        }
        &__items {
            &-item {
                width: 100%;
                text-align: center;
                justify-content: center;
                &:before {
                    content: '';
                    display: block;
                    width: 0.5rem;
                    height: 0.5rem;
                    aspect-ratio: 1/1;
                    background: var(--Base-White);
                    border-radius: 100%;
                }
            }
            &.items-reverse {
                flex-direction: column;
                align-items: center;
                gap: 0.5rem;
                .purple-banner__items-item {
                    width: 100%;
                    padding: 0.5rem;
                    &:not(:first-child) {
                        margin-left: 0rem;
                    }
                }
            }
        }
    }
}