.scroll-list {
    margin: 7.5rem 0;
    &__content {
        display: flex;
        gap: 7rem;
    }
    &__title {
        height: fit-content;
        flex: 1;
        position: sticky;
        top: 5rem;
    }
    &__descr {
        margin-top: 0.75rem;
        font-size: 1.0625rem;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; 
    }
    &__list {
        flex: 1;
        &-item {
            padding: 1.5rem 1.5rem 1.25rem 1.5rem;
            display: flex;
            align-items: center;
            gap: 1rem;
            border-radius: 0.75rem;
            border: 1px solid var(--Neutral-100, #E9EFF5);
            background: #FFF;
            &:not(:last-child) {
                margin-bottom: 0.5rem;
            }
            &-num {
                width: 3.25rem;
                height: 3.25rem;
                aspect-ratio: 1/1;
                padding: 0.25rem;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--Brand-800);
                font-family: var(--font-Cuprum);
                font-size: 1.75rem;
                font-style: normal;
                font-weight: 400;
                line-height: 110%;
                border-radius: 0.54169rem;
                background: var(--Brand-50);
            }
            &-text {
                flex: 1;
                font-size: 1.0625rem;
                font-style: normal;
                font-weight: 600;
                line-height: 140%; 
                span {
                    display: block;
                    color: rgba(34, 34, 34, 0.50);
                }
            } 
        }
        &-btn {
            width: 100%;
        }
    }
}

@media (max-width: 767px) {
    .scroll-list {
        margin: 5rem 0;
        &__content {
            flex-direction: column;
            gap: 1.25rem;
        }
        &__title {
            width: 100%;
            position: static;
            top: unset;
        }
        &__descr {
            font-size: 0.875rem;
        }
        &__list {
            width: 100%;
            &-item {
                padding: 1rem;
                &:not(:last-child) {
                    margin-bottom: 0.5rem;
                }
                &-num {
                    width: 3rem;
                    height: 3rem;
                    padding: 0.125rem;
                    font-size: 1.5rem;
                }
                &-text {
                    font-size: 0.875rem;
                }
            }
        }
    }
}