.solution {
    margin: 7.5rem 0;
    &__content {
        padding: 2rem;
        border-radius: 0.5rem;
        background: radial-gradient(50% 50% at 50% 50%, #412BA8 0%, #22194D 100%);
    }
    &__title {
        margin-bottom: 1.75rem;
        color: var(--Base-White);
    }   
    &__swiper {

    }
    &__swiper-four {
        .solution__item {
            min-height: 19.25rem;
        }
    }
    &__item {
        padding: 1.375rem;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1.5rem;
        border-radius: 0.25rem;
        border: 1px solid rgba(255, 255, 255, 0.28);
        transition: 0.3s;
        overflow: hidden;
        &-icon {
            width: 3rem;
            height: 3rem;
            flex-shrink: 0;
            transition: 0.3s;
            filter: brightness(0) invert(1);
            opacity: 0.5;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
            &.with-num {
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--Base-White, #FFF);
                text-align: center;
                font-family: var(--font-Cuprum);
                font-size: 1.75rem;
                font-style: normal;
                font-weight: 400;
                line-height: 110%;
                border-radius: 0.5rem;
                background: rgba(255, 255, 255, 0.10);
                opacity: 1;
            }
        }
        &-info {
            transform: translate(0, 3.5rem);
            transition: 0.4s;
            &.no-transform {
                transform: unset;
            }
        }
        &-title {
            margin-bottom: 0.25rem;
            color: var(--Base-White);
            font-size: 1.0625rem;
            font-style: normal;
            font-weight: 600;
            line-height: 150%; /* 1.59375rem */
        }
        &-descr {
            color: var(--Base-White);
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: 140%; /* 1.225rem */
            opacity: 0.8;
        }
        &-btn  {
            margin-top: 0.63rem;
            width: 100%;
            transform: translate(0, 1rem);
            transition: 0.4s;
        }
    }
}  

@media (min-width: 769px) {
    .solution {
        &__item {
            &:hover {
                background: var(--Base-White);
                border-color: var(--Base-White);

                .solution__item-icon {
                    filter: unset;
                    opacity: 1;
                    &.with-num {
                        color: var(--Brand-800);
                        background: var(--Brand-50);
                    }
                }

                .solution__item-info,
                .solution__item-btn {
                    transform: unset;
                }

                .solution__item-title,
                .solution__item-descr {
                    color: var(--Base-Dark);
                }
            }
        }
    }
}
@media (max-width: 767px)  {
    .solution {
        margin: 5rem 0;
        &__content {
            padding: 1rem;
            overflow: hidden;
        }
        &__title {
            margin-bottom: 1.25rem;
        }  
        &__swiper {
            overflow: visible;
        }
        &__swiper-four {
            .solution__item {
                min-height: fit-content;
            }
        }
        &__item {
            padding: 1rem;
            
            &.swiper-slide-active {
                background: var(--Base-White);
                border-color: var(--Base-White);

                .solution__item-icon {
                    filter: unset;
                    opacity: 1;
                    &.with-num {
                        color: var(--Brand-800);
                        background: var(--Brand-50);
                    }
                }

                .solution__item-info,
                .solution__item-btn {
                    transform: unset;
                }

                .solution__item-title,
                .solution__item-descr {
                    color: var(--Base-Dark);
                }
            }
            &-icon {
                width: 2rem;
                height: 2rem;
                &.with-num {
                    font-size: 1.2rem;
                }
            }
            &-info {
                transform: translate(0, 2.5rem);
            }
        }
    }   
}