.why {
    margin: 7.5rem 0;
    &__content {
        padding: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: radial-gradient(57.41% 57.41% at 50% 42.59%, #FFF 0%, #DFE2FF 100%), #FFF;
    }
    &__text {
        width: 19.5rem;
        padding: 1.25rem 2rem;
        text-align: center;
        font-size: 1.0625rem;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; 
        border-radius: 0.5rem;
        border: 2px solid var(--Base-White);
        background: radial-gradient(50% 50% at 50% 50%, #FFF 0%, #EDF0FF 100%), #FFF;
    }
    &__title  {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10.25rem;
        height: 7rem;
        color: var(--Brand-800);
        border-radius: 0.5rem;
        background: #FFF;
        &:before,
        &:after {
            content: '';
            position: absolute;
            width: 5.9375rem;
            height: 1rem;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='97' height='15' viewBox='0 0 97 15' fill='none'%3e%3cpath d='M0.999917 6.37109C0.447633 6.37114 -4.56688e-05 6.81889 0 7.37118C4.56688e-05 7.92346 0.447798 8.37114 1.00008 8.37109L1 7.37109L0.999917 6.37109ZM96.7072 8.07029C97.0977 7.67973 97.0976 7.04656 96.707 6.65607L90.3426 0.292638C89.952 -0.097854 89.3188 -0.0978016 88.9283 0.292755C88.5379 0.683312 88.5379 1.31648 88.9285 1.70697L94.5858 7.36336L88.9294 13.0207C88.5389 13.4112 88.539 14.0444 88.9295 14.4349C89.3201 14.8254 89.9532 14.8253 90.3437 14.4348L96.7072 8.07029ZM1 7.37109L1.00008 8.37109L96.0001 8.36324L96 7.36324L95.9999 6.36324L0.999917 6.37109L1 7.37109Z' fill='%23412BA8'/%3e%3c/svg%3e");
        }
        &::before {
            left: calc(100% + 0.8rem);
        }
        &:after {
            right: calc(100% + 0.8rem);;
            transform: rotate(180deg);
        }
    }
}
        
@media (max-width: 767px) {
    .why {
        margin: 5rem 0;
        &__content {
            margin-left: -1rem;
            width: calc(100% + 2rem);
            padding: 2.5rem 1.25rem;
            flex-direction: column;
            gap: 1rem;
        }
        &__text {
            width: 80%;
            padding: 1.25rem;
            &:first-child {
                margin-right: auto;
            }
            &:last-child {
                margin-left: auto;
            }
        }
        &__title  {
            margin-bottom: 3.25rem;
            order: -1;
            padding: 1.25rem 1rem;
            width: 100%;
            height: fit-content;
            &::before {
                top: calc(100% + 0.5rem);
                height: 3.25rem;
                width: 2rem;
                left: 1rem;
                transform: rotate(0deg);
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='15' height='54' viewBox='0 0 15 54' fill='none'%3e%3cpath d='M8.36426 1C8.36426 0.447715 7.91654 2.41411e-08 7.36426 0C6.81197 -2.41411e-08 6.36426 0.447715 6.36426 1L7.36426 1L8.36426 1ZM6.65715 53.7071C7.04767 54.0976 7.68084 54.0976 8.07136 53.7071L14.4353 47.3431C14.8258 46.9526 14.8258 46.3195 14.4353 45.9289C14.0448 45.5384 13.4116 45.5384 13.0211 45.9289L7.36426 51.5858L1.7074 45.9289C1.31688 45.5384 0.683712 45.5384 0.293188 45.9289C-0.0973364 46.3195 -0.0973364 46.9526 0.293188 47.3431L6.65715 53.7071ZM7.36426 1L6.36426 1L6.36426 53L7.36426 53L8.36426 53L8.36426 1L7.36426 1Z' fill='%23412BA8'/%3e%3c/svg%3e");
            }
            &:after {
                top: calc(100% + 0.5rem);
                height: 11.5rem;
                width: 2rem;
                right: 1rem;
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='15' height='206' viewBox='0 0 15 206' fill='none'%3e%3cpath d='M8.36426 1C8.36426 0.447715 7.91654 2.41411e-08 7.36426 0C6.81197 -2.41411e-08 6.36426 0.447715 6.36426 1L7.36426 1L8.36426 1ZM6.65714 205.707C7.04767 206.098 7.68083 206.098 8.07136 205.707L14.4353 199.343C14.8258 198.953 14.8258 198.319 14.4353 197.929C14.0448 197.538 13.4116 197.538 13.0211 197.929L7.36425 203.586L1.7074 197.929C1.31687 197.538 0.683706 197.538 0.293181 197.929C-0.097343 198.319 -0.097343 198.953 0.293181 199.343L6.65714 205.707ZM7.36426 1L6.36426 1L6.36425 205L7.36425 205L8.36425 205L8.36426 1L7.36426 1Z' fill='%23412BA8'/%3e%3c/svg%3e");
                transform: rotate(0deg);
            }
        }
    }
    
}