@import 'font';
@import 'global';
@import 'set';
@import 'header';
@import 'hero';
@import 'stages';
@import 'pulse';
@import 'reviews';
@import 'cta';
@import 'clients';
@import 'geography';
@import 'footer';
@import 'about';
@import 'parnters';
@import 'solution';
@import 'popup';
@import 'purple-banner';
@import 'page-hero';
@import 'text-block';
@import 'offers';
@import 'carreers';
@import 'map';
@import 'data-system';
@import 'platform';
@import 'vendors';
@import 'devices';
@import 'why';
@import 'error';
@import 'cards-wave';
@import 'scroll-list';
@import 'info-block';